{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="container">
        <div class="section-title">
            <h2>Welcome to Git Stars! ✌️</h2>
            <p>Search user?</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                {{ form_start(search_form) }}
                    <div class="input-group mb-3">
                        {{ form_widget(search_form.username, {'attr' : {'class' : 'form-control'}}) }}
                        <button type="submit" class="btn-git"><i class="fas fa-search"></i></button>
                    </div>
                {{ form_end(search_form) }}
            </div>
        </div>

        {% if search_error %}
            <div class="alert alert alert-warning mt-2">
                {{ search_error | raw }}
            </div>
        {% endif %}

        <div class="d-flex justify-content-around row mt-5">
            <div class="col-lg-5 col-sm-12 justify-content-center d-flex row"">
                <div class="section-title">
                    <p>Our top users️ <i class="fas fa-trophy"></i></p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for topU in topUsers %}
                        <li class="list-group-item d-flex justify-content-around align-items-start col">
                            <div class="pic w-25">
                                <a href="{{ path('user_show', {'username' : topU[0].username}) }}">
                                    <img src="https://avatars.githubusercontent.com/u/{{ topU[0].githubId }}?v=4" class="rounded w-50" alt="">
                                </a>
                            </div>
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a href="{{ path('user_show', {'username' : topU[0].username}) }}">
                                        {{ topU[0].name }}
                                    </a>
                                </div>
                                <p>{{ topU[0].username }}</p>
                            </div>
                            <div class="w-25">
                                <p class="text-end">
                                    <span class="fw-bold fs-3">#{{ loop.index }} <i class="fas fa-medal rank-{{ loop.index }}"></i></span><br>
                                    <span class="fs-6">{{ topU.stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></span>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-5 col-sm-12 justify-content-center d-flex row">
                <div class="section-title">
                    <p class="w-100">Top organizations  <i class="fas fa-building"></i></p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for topC in topCorps %}
                        <li class="list-group-item d-flex justify-content-around align-items-start col">
                            <div class="pic w-25">
                                <a href="{{ path('user_show', {'username' : topC[0].username}) }}">
                                    <img src="https://avatars.githubusercontent.com/u/{{ topC[0].githubId }}?v=4" class="rounded w-50" alt="">
                                </a>
                            </div>
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a href="{{ path('user_show', {'username' : topC[0].username}) }}">
                                        {{ topC[0].name }}
                                    </a>
                                </div>
                                <p>{{ topC[0].username }}</p>
                            </div>
                            <div class="w-25">
                                <p class="text-end">
                                    <span class="fw-bold fs-3">#{{ loop.index }} <i class="fas fa-medal rank-{{ loop.index }}"></i></span><br>
                                    <span class="fs-6">{{ topC.stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></span>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-center row mt-5">
            <div class="col-lg-5 col-sm-12 justify-content-center d-flex row"">
                <div class="section-title">
                    <p class="w-100">Top languages  <i class="fas fa-code"></i></p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for topL in topLanguages%}
                        <li class="list-group-item d-flex justify-content-around align-items-start col">
                            <div class="pic w-25">
                                <a href="{{ path('languages_show', {'slug' : topL[0].slug}) }}">
                                    <img src="https://cdn.jsdelivr.net/npm/programming-languages-logos/src/{{ topL[0].slug }}/{{ topL[0].slug }}_64x64.png" class="rounded w-50" alt="">
                                </a>
                            </div>
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a href="{{ path('languages_show', {'slug' : topL[0].slug}) }}">
                                        {{ topL[0].name }}
                                    </a>
                                </div>
                            </div>
                            <div class="w-25">
                                <p class="text-end">
                                    <span class="fw-bold fs-3">#{{ loop.index }} <i class="fas fa-medal rank-{{ loop.index }}"></i></span><br>
                                    <span class="fs-6">{{ topL.stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></span>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>
</section>

{% endblock %}