{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block description %}Welcome to Git Stars! Check the stargazer rankings of GitHub users and compare your profile with millions of others!{% endblock %}

{% block canonical %}
    <link rel="canonical" href="{{ url('app_index') }}" />
{% endblock %}

{% block breadcrumb %}
    {% include 'partials/breadcrumbs.html.twig' with {
        'links' : []
    } %}
{% endblock %}

{% block body %}
<section class="pt-5 pb-0">
    <div class="container">
        <div class="alert alert-secondary mt-0">
            <p class="mb-0">
                🚧 <b><u>Update 2021/06/24</u></b> :<br> This website was just released and our database is still filling up by fetching data from GitHub.
                During this process, the website may be a bit slow and the rankings may not be accurate yet.
                <br><br>We currently have <b class="users-counter">{{ totalUsers |number_format(0, '.', '&nbsp;')|raw  }}</b> users in our database 🎉.
            </p>
        </div>
    </div>
</section>

<!-- Top users classes: rank-1 rank-2 rank-3 -->
<section class="pt-5">
    <div class="container">
        <div class="section-title pb-0">
            <h2>Welcome to Git Stars! ✌️</h2>
            <p><label for="search_user_username">Search user</label></p>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                {{ form_start(search_form) }}
                    <div class="input-group mb-3">
                        {{ form_widget(search_form.username, {'attr' : {'class' : 'form-control outline-none', 'autocapitalize' : 'off', 'autocomplete': 'off'}}) }}
                        <button type="submit" class="btn-git" aria-label="Search"><i class="fas fa-search"></i></button>
                    </div>
                {{ form_end(search_form) }}
            </div>
        </div>

        {% if search_error %}
            <div class="alert alert alert-warning mt-2">
                {{ search_error | raw }}
            </div>
        {% endif %}

        <div class="bg-light rounded-3 mt-5 mb-5 pt-3 pb-5">
            <div class="d-flex justify-content-around row mt-4">
                <div class="col-lg-5 col-sm-12 justify-content-center d-flex row">
                    <h3 class="entry-title text-center mb-5">Top users️ <i class="fas fa-trophy"></i></h3>
                    <div class="list-group list-group-flush">
                        {% for topU in topUsers %}
                            <div class="list-group-item d-flex justify-content-around align-items-center col mb-1">
                                <div class="pic w-25">
                                    <a href="{{ path('user_show', {'username' : topU.username}) }}">
                                        <img src="https://avatars.githubusercontent.com/u/{{ topU.github_id }}?v=4&s=60" class="rounded wd-60" alt="User {{ topU.username }}">
                                    </a>
                                </div>
                                <div class="ms-2 me-auto w-auto">
                                    <div class="fw-bold">
                                        {% if topU.name != null %}
                                            <a href="{{ path('user_show', {'username' : topU.username}) }}">
                                                {{ topU.name }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('user_show', {'username' : topU.username}) }}">
                                                {{ topU.username }}
                                            </a>
                                        {% endif %}
                                    </div>
                                    <p class="mb-0">@{{ topU.username }}</p>
                                </div>
                                <div class="w-auto">
                                    <p class="text-end mb-0">
                                        <span class="fw-bold fs-3">#{{ loop.index }} <i class="fas fa-medal rank-{{ loop.index }}"></i></span><br>
                                        <span class="fs-6">{{ topU.stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></span>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        <a href="{{ path('user_index', {'type': 'users'}) }}" class="text-center mt-3 fw-bold btn-git mb-4">See all</a>
                    </div>
                </div>

                <div class="col-lg-5 col-sm-12 justify-content-center d-flex row mt-4 mt-lg-0">
                    <h3 class="entry-title text-center mb-5">Top organizations  <i class="fas fa-building"></i></h3>
                    <div class="list-group list-group-flush">
                        {% for topC in topCorps %}
                            <div class="list-group-item d-flex justify-content-around align-items-center col mb-1">
                                <div class="pic w-25">
                                    <a href="{{ path('user_show', {'username' : topC.username}) }}">
                                        <img src="https://avatars.githubusercontent.com/u/{{ topC.github_id }}?v=4&s=60" class="rounded wd-60" alt="Organization {{ topC.username }}">
                                    </a>
                                </div>
                                <div class="ms-2 me-auto w-auto">
                                    <div class="fw-bold">
                                        {% if topC.name != null %}
                                            <a href="{{ path('user_show', {'username' : topC.username}) }}">
                                                {{ topC.name }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('user_show', {'username' : topC.username}) }}">
                                                {{ topC.username }}
                                            </a>
                                        {% endif %}

                                    </div>
                                    <p class="mb-0">@{{ topC.username }}</p>
                                </div>
                                <div class="w-auto">
                                    <p class="text-end mb-0">
                                        <span class="fw-bold fs-3">#{{ loop.index }} <i class="fas fa-medal rank-{{ loop.index }}"></i></span><br>
                                        <span class="fs-6">{{ topC.stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></span>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        <a href="{{ path('user_index', {'type': 'organizations'}) }}" class="text-center mt-3 fw-bold btn-git mb-sm-3 mb-4">See all</a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center row mt-4">
                <div class="col-lg-5 col-sm-12 justify-content-center d-flex row">
                    <h3 class="entry-title text-center mb-5">Top languages  <i class="fas fa-code"></i></h3>
                    <div class="list-group list-group-flush">
                        {% for topL in topLanguages %}
                            <div class="list-group-item d-flex justify-content-around align-items-start col mb-1">
                                <div class="pic w-25 h-100 d-flex">
                                    <a href="{{ path('languages_show', {'slug' : topL[0].slug}) }}" class="d-flex align-items-center" title="{{ topL[0].name }}">
                                        <div class="rounded-circle language-circle" style="background-color: {{ topL[0].color }}"></div>
                                    </a>
                                </div>
                                <div class="ms-2 me-auto h-100 d-flex w-auto">
                                    <div class="fw-bold d-flex align-items-center">
                                        <a href="{{ path('languages_show', {'slug' : topL[0].slug}) }}">
                                            {{ topL[0].name }}
                                        </a>
                                    </div>
                                </div>
                                <div class="w-auto">
                                    <p class="text-end mb-0">
                                        <span class="fw-bold fs-3">#{{ loop.index }} <i class="fas fa-medal rank-{{ loop.index }}"></i></span><br>
                                        <span class="fs-6">{{ topL.stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></span>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        <a href="{{ path('languages_index') }}" class="text-center mt-3 fw-bold btn-git">See all</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-5">
            <h3 class="w-100 entry-title">Users of the day <i class="fas fa-heart"></i></h3>
            <div class="d-flex row">
                {% for topD in topToday %}
                    <div class="col-lg-6">
                        {% include 'partials/user-card.html.twig' with {'user' : topD[0], 'stars': topD.stars, 'hx': 'h4'} %}
                    </div>
                {% endfor %}
            </div>
            <p class="fw-light fs-6 text-center">*Users selected at random, we do not affiliate with any of them.</p>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- temporary dirty refresh -->
    <script type="text/javascript">
        function getStatus() {
            fetch('{{ path('app_index_count') }}')
                .then(function (response) {
                    return response.json()
                        .then(function (json) {
                           document.querySelector('.users-counter').innerHTML = json.frames[0].text
                        })
                })
        }
        setTimeout(function(){setInterval(getStatus, 3000)}, 10000)
    </script>
{% endblock %}