<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto">
            <a href="{{ path('app_index') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="35px" viewBox="0 0 600 500" style="margin-top:-8px;">
                    <path transform="translate(25, 25)" d="M493.6,199.5A25.29,25.29,0,0,0,471.7,182L333.6,169.5,278.9,41.6a25.45,25.45,0,0,0-46.8.1L177.5,169.5,39.3,182a25.48,25.48,0,0,0-14.5,44.5l104.4,91.6L98.5,453.7a25.41,25.41,0,0,0,37.8,27.5L255.5,410l119.1,71.2a25.45,25.45,0,0,0,37.9-27.5L381.7,318.1l104.4-91.6A25.45,25.45,0,0,0,493.6,199.5Z" style="fill:#d9232d"/>
                    <path d="M477.4,194.5A25.29,25.29,0,0,0,455.5,177L317.4,164.5,262.7,36.6a25.45,25.45,0,0,0-46.8.1L161.3,164.5,23.1,177A25.48,25.48,0,0,0,8.6,221.5L113,313.1,82.3,448.7a25.41,25.41,0,0,0,37.8,27.5L239.3,405l119.1,71.2a25.45,25.45,0,0,0,37.9-27.5L365.5,313.1l104.4-91.6A25.45,25.45,0,0,0,477.4,194.5Z" style="fill:#ffc107"/>
                </svg>
                GIT Stars
            </a>
        </h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{{ path('app_index') }}"
                            {% if app.request.get('_route') == 'app_index' %}
                                class="active"
                            {% endif %}>Home</a></li>

                <li>
                    <a href="{{ path('languages_index') }}"
                            {% if app.request.get('_route') == 'languages_index' %}
                                class="active"
                            {% endif %}>
                        <span>Top languages</span> <i class="bi bi-chevron-down"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('user_index') }}"
                            {% if app.request.get('_route') == 'user_index' %}
                                class="active"
                            {% endif %}>Top users</a>
                </li>
                <li>
                    <a href="{{ path('app_about') }}"
                            {% if app.request.get('_route') == 'app_about' %}
                        class="active"
                            {% endif %}>About</a>
                </li>
                <li>
                    {% if app.user %}
                        <a href="{{ path('security_logout')}}" class="getstarted">
                            Logout
                        </a>
                    {% else %}
                        <a href="{{ hwi_oauth_login_url('github') }}?_destination={{ app.request.pathinfo}}" class="getstarted">
                            <i class="fab fa-github fs-6 m-1"></i> Login
                        </a>
                    {% endif %}
                </li>
            </ul>
            <i class="fas fa-bars bi mobile-nav-toggle bi-list p-1 d-lg-none"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->