<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto d-flex align-content-start justify-content-start"><a href="{{ path('app_index') }}"><i class="fas fa-star text-warning"></i> GIT Stars</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{{ path('app_index') }}"
                            {% if app.request.get('_route') == 'app_index' %}
                                class="active"
                            {% endif %}>Home</a></li>

                <li>
                    <a href="{{ path('languages_index') }}"
                            {% if app.request.get('_route') == 'languages_index' %}
                                class="active"
                            {% endif %}>
                        <span>Top languages</span> <i class="bi bi-chevron-down"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('user_index') }}"
                            {% if app.request.get('_route') == 'user_index' %}
                                class="active"
                            {% endif %}>Top users</a>
                </li>
                <li>
                    <a href="{{ path('app_about') }}"
                            {% if app.request.get('_route') == 'app_about' %}
                        class="active"
                            {% endif %}>About</a>
                </li>
                <li>
                    {% if app.user %}
                        <a href="{{ path('security_logout')}}" class="getstarted">
                            Logout
                        </a>
                    {% else %}
                        <a href="{{ hwi_oauth_login_url('github') }}?_destination={{ app.request.pathinfo}}" class="getstarted">
                            <i class="fab fa-github fs-6 m-1"></i> Login
                        </a>
                    {% endif %}
                </li>
            </ul>
            <i class="fas fa-bars bi mobile-nav-toggle bi-list p-1 d-lg-none"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->