<div class="col-lg-12 mt-5">
    <div class="pagination-git">
        <ul class="justify-content-center">
        {% if paginate.hasPrevious %}
            <li><a href="{{ path(route, route_parameters|merge({'page': paginate.current - 1})) }}" title="Previous page"><i class="fas fa-arrow-left"></i></a></li>
            {%  if paginate.current > 3 and paginate.current != 1 %}
                <li><a href="{{ path(route, route_parameters|merge({'page': 1})) }}">1</a></li>
                {% if paginate.current >= 4 %}
                    <li class="no-bg"><p class="mb-0 mt-2">...</p></li>
                {% endif %}
            {% endif %}

        {% endif %}

        {% for page in paginate.range %}
                <li class="{% if page == paginate.current %}active{% endif %}">
                    <a href="{{ path(route, route_parameters|merge({'page': page})) }}">{{ page }}</a>
                </li>

        {% endfor %}

        {% if paginate.hasNext %}
            {%  if paginate.current <= paginate.total - 3 %}
                {% if paginate.current != paginate.total - 2 %}
                    <li class="no-bg"><p class="mb-0 mt-2">...</p></li>
                {% endif %}

                <li><a href="{{ path(route, route_parameters|merge({'page': paginate.total })) }}">{{ paginate.total }}</a></li>
            {% endif %}
            <li><a href="{{ path(route, route_parameters|merge({'page': paginate.current + 1})) }}" title="Next page"><i class="fas fa-arrow-right"></i></a></li>
        {% endif %}
        </ul>
    </div>
</div>


