{{ dump(paginate) }}

<marquee>
    <div style="display: flex; align-items: center; justify-content: center">
        {% if paginate.hasPrevious %}
            <a href="{{ path(route, route_parameters|merge({'page': paginate.current - 1})) }}"><</a>
            <a href="">1</a>
            <p> ... </p>

        {% endif %}

        {% for page in paginate.range %}
            <a href="">{{ page }}</a>
        {% endfor %}

        {% if paginate.hasNext %}
            <p> ... </p>
            <a href="">{{ paginate.total }}</a>
            <a href="{{ path(route, route_parameters|merge({'page': paginate.current + 1})) }}">></a>
        {% endif %}
    </div>
</marquee>


