<div class="col-lg-12 mb-2">
    <div class="member d-flex align-items-center w-100">
        <div class="pic">
            <a href="{{ path('user_show', {'username' : user.username}) }}">
                <img src="https://avatars.githubusercontent.com/u/{{ user.githubId }}?v=4" class="img-fluid user-picture" alt="{% if user.organization %}Organization{% else%}User{% endif%} {{ user.username }}">
            </a>
        </div>
        <div class="member-info w-75">
            <h4>
                <a href="{{ path('user_show', {'username' : user.username}) }}">
                    {% if user.name != "" %}{{ user.name }}{% else %}{{ user.username }}{% endif %}
                </a>
                {% if user.organization %}<i class="fas fa-building"></i>{% endif %}
            </h4>
            <span class="span-name">@{{ user.username }}</span>
            <div class="social">
                <a href="https://github.com/{{ user.username }}" target="_blank" title="{{ user.username }}'s GitHub profile" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="w-25">
            <p class="text-end">
                {% if paginate is defined %}<span class="fw-bold fs-3">#{{ loop.index + 25 * (paginate.current - 1) }}</span><br>{% endif %}
                <span class="fs-6">{{ stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></span>
            </p>
        </div>
    </div>
</div>