<div class="col-lg-12">
    <div class="member d-flex align-items-start">
        <div class="pic">
            <a href="{{ path('user_show', {'username' : user.username}) }}">
                <img src="https://avatars.githubusercontent.com/u/{{ user.githubId }}?v=4" class="img-fluid" alt="">
            </a>
        </div>
        <div class="member-info">
            <h4>
                <a href="{{ path('user_show', {'username' : user.username}) }}">
                    {{ user.name }}
                </a>
                {% if user.organization %}<i class="fas fa-building"></i>{% endif %}
            </h4>
            <span>@{{ user.username }}</span>
            <p>#{{ loop.index + 25 * (paginate.current - 1) }} - {{ stars|number_format(0, '.', ' ') }} stars</p>
            <div class="social">
                <a href="https://github.com/{{user.username  }}" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</div>