<div class="col-lg-12 mb-2">
    <div class="member d-flex align-items-center">
        <div class="pic h-100 d-flex justify-content-center">
            <a href="{{ path('languages_show', {'slug' : language.slug}) }}" class="d-flex" title="{{ language.name }}">
                <div class="rounded-circle language-circle" style="background-color: {{ language.color }};"></div>
            </a>
        </div>
        <div class="member-info w-25">
            <h3 class="fs-5 fw-bold mb-0">
                <a href="{{ path('languages_show', {'slug' : language.slug}) }}" title="User ranking for {{ language.name }} language">
                    {{ language.name }}
                </a>
            </h3>
        </div>
        <div class="w-lg-25">
            {% if language.rank_world is defined %}
                <p class="fw-bold">Ranking:</p>
                <p><i class="fas fa-trophy rank-{{ language.rank_world }}"></i> <a href="{{ path('languages_show', {'slug': language.slug }) }}">World:</a> <span class="fw-bold">{{ language.rank_world }}</span> / {{ language.total_user_world }}</p>
                {% if language.rank_country %}
                    <p>
                        <i class="fas fa-trophy rank-{{ language.rank_country }}"></i> <a href="{{ path('languages_show', {'slug': language.slug })}}?country={{ country.slug }}">{{ country.name }} {{ get_flag(country.isoCode) }}:</a>
                        <span class="fw-bold">{{ language.rank_country }}</span> / {{ language.total_user_country }}
                    </p>
                {% endif %}
                {% if language.rank_city %}
                    <p>
                        <i class="fas fa-trophy rank-{{ language.rank_city }}"></i> <a href="{{ path('languages_show', {'slug': language.slug })}}?country={{ country.slug }}&city={{ city.slug }}">{{ city.name }}:</a>
                        <span class="fw-bold">{{ language.rank_city }}</span> / {{ language.total_user_city }}
                    </p>
                {% endif %}
                <p>
                    {% if user.organization %}
                        {% set reposLink = 'https://github.com/' ~ user.username ~ '?q=&type=&language=' ~ language.slug ~'&sort=stargazers#org-repositories' %}
                    {% else %}
                        {% set reposLink = 'https://github.com/' ~ user.username ~ '?tab=repositories&q=&type=&language=' ~ language.slug ~'&sort=stargazers' %}
                    {% endif %}
                    <i class="fas fa-book"></i> <a href="" target="_blank" rel="noopener noreferrer">
                         {{ language.repositories }} repositor{% if language.repositories == 1 %}y{% else %}ies{% endif %}
                    </a>
                </p>
            {% else %}
                <p class="fw-bold">Ranking calculation in progress...</p>
            {% endif %}
        </div>
        <div class="w-25">
            <p class="text-end">
                <span class="fw-bold fs-3">{% if language.rank_world is defined %}#{{ language.rank_world }}{% else %}N/A{% endif %}</span><br>
                <span class="fs-6">{{ stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></span>
            </p>
        </div>
    </div>
</div>