{% extends 'base.html.twig' %}

        {% block body %}
            <a href="{{ path('languages_index') }}">Return</a>
            <h1>{{ language.name }}</h1>

            <ol>
            {% for userLanguage in userLanguages %}
                <li><a href="{{ path('user_show', {'username' : userLanguage.username}) }}">{{ userLanguage.username }}</a> | {{ userLanguage.stars }} stars</li>
            {% endfor %}
            </ol>

            {% include 'partials/paginate.html.twig' with {
                'paginate': paginate,
                'route': 'languages_show',
                'route_parameters': {
                    'slug' : language.slug
                }
            }  %}
        {% endblock %}

