{% extends 'base.html.twig' %}

{% block title %}{{ language.name }}{% endblock %}

{% block description %}Check out the top {{ language.name }} contributors on GitHub, ordered by their repository stargazers.{% endblock %}

{% block canonical %}
    <link rel="canonical" href="{{ url('languages_show', {'slug' : language.slug}) }}" />
{% endblock %}

{% block breadcrumb %}
    {% include 'partials/breadcrumbs.html.twig' with {
        'links' : [
            {
                'title': 'Languages',
                'link': path('languages_index')
            },
            {
                'title': language.name,
                'link': null
            }
        ]
    } %}
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="section-title">
            <h2>Top users by languages</h2>
            <p>{{ language.name }}</p>
            <a href="{{ path('languages_index') }}"><i class="fas fa-arrow-alt-circle-left"></i> Back to languages list</a>
        </div>

        <form action="#" method="post" class="mb-4">
            <div class="row">
                <div class="col-md-12 form-group">
                    <select class="form-select type-selector">
                        <option value="">All users</option>
                        {% if hasUsers != null %}<option {% if userType == 'users' %}selected{% endif %} value="users">Only individuals</option>{% endif %}
                        {% if hasOrganizations != null %}<option {% if userType == 'organizations' %}selected{% endif %} value="organizations">Only organizations</option>{% endif %}
                    </select>
                </div>
            </div>
        </form>

        <form action="#" method="post" class="mb-4">
            <div class="row">
                <div class="col-md-12 form-group">
                    <select class="form-select country-selector">
                        <option value="">Worldwide</option>
                        {% for countryL in countries %}
                            <option {% if country and country.slug == countryL.slug%}selected{% endif %} value="{{ countryL.slug }}">{{ countryL.name }} {{ get_flag(countryL.isoCode) }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        {% if country != null %}
            <form action="#" method="post" class="mb-4">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <select class="form-select city-selector">
                            <option value="">-</option>
                            {% for cityL in cities %}
                                <option {% if city and city.slug == cityL.slug%}selected{% endif %} value="{{ cityL.slug }}">{{ cityL.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            </form>
        {% endif %}

        <div class="row">
            {% for userLanguage in userLanguages %}
                {% include 'partials/user-card.html.twig' with {'user' : userLanguage, 'stars': userLanguage.stars} %}
            {% endfor %}
            {% include 'partials/paginate.html.twig' with {
                'paginate': paginate,
                'route': 'languages_show',
                'route_parameters': {
                    'slug' : language.slug,
                    'country' : (country ? country.slug : null),
                    'city' : (city ? city.slug : null)
                }
            }  %}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {% include 'partials/location-filter.html.twig' with {'path': path('languages_show', {'slug' : language.slug})} %}
{% endblock %}


