<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link rel="icon" class="js-site-favicon" type="image/png" href="{{ asset('favicon-32.png') }}">

        <title>Git Stars - {% block title %}Welcome!{% endblock %}</title>
        <meta content="{% block description %}{% endblock %}" name="description">

        {% block canonical %}{% endblock %}

        <meta name="twitter:card" content="{% block metaSummary %}summary{% endblock %}">
        <meta name="twitter:site" content="@pgrimaud_">
        <meta name="twitter:title" content="Git Stars - {{ block('title') }}">
        <meta name="twitter:description" content="{{ block('description') }}">
        <meta name="twitter:creator" content="@pgrimaud_">
        <meta name="twitter:image" content="{% block metaImage %}{{ url('app_index') ~ ('favicon-original.png') }}{% endblock %}">

        <meta property="og:title" content="Git Stars - {{ block('title') }}" />
        <meta property="og:description" content="{{ block('description') }}"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:image" content="{{ block('metaImage') }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Git Stars" />
        {% block metaOgImageWidth %}{% endblock %}

        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% include 'partials/header.html.twig' %}

        <main id="main">
            {% block breadcrumb %}{% endblock %}
            {% block body %}{% endblock %}
        </main>

        {% include 'partials/footer.html.twig' %}

        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>

</html>
