{% extends 'base.html.twig' %}

{% block title %}Page not found{% enblock %}

{% block breadcrumb %}
    {% include 'partials/breadcrumbs.html.twig' with {
        'links' : [
            {
                'title': 'Oops..',
                'link': null
            }
        ]
    } %}
{% endblock %}

{% block body %}
    <section id="error" class="about d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row content">
                <div class="col-lg-6 col-sm-12 d-flex align-items-start justify-content-center flex-column">
                    <h2>404 Error 👻</h2>
                    <h3>Sorry, we can't find the page you're looking for</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 col-sm-12">
                    <label for="search_username" class="required">
                        Were you trying to find someone ?<br>
                        Maybe we should try again:
                    </label>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            {{ form_start(search_form, {'attr': {'action' : path('app_index')}}) }}
                                <div class="input-group mb-3">
                                    {{ form_widget(search_form.username, {'attr' : {'class' : 'form-control'}}) }}
                                    <button type="submit" class="btn-git" aria-label="Search"><i class="fas fa-search"></i></button>
                                </div>
                            {{ form_end(search_form) }}
                        </div>
                    </div>

                    <p>
                        You think the error is on out end ?<br>
                        Tell us what happened by:
                    <ul>
                        <li>Opening an issue on the
                            <a href="https://www.github.com/pgrimaud/git-stars" target="_blank">GitHub repo</a>
                        </li>
                        <li>Sending us a <a href="https://twitter.com/pgrimaud_" target="_blank">Tweet</a></li>
                    </ul>
                    </p>
                    <p class="fst-italic">
                        Or you could check these pages out, they're pretty cool: <br>
                        <a href="{{ path('user_index') }}">Top users</a> - <a href="{{ path('languages_index') }}">Top Languages</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}