{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block description %}See the list of all the GitHub users indexed on Git Stars, ordered by their total amount of stargazers.{% endblock %}

{% block breadcrumb %}
    {% include 'partials/breadcrumbs.html.twig' with {
        'links' : [
            {
                'title': 'Users',
                'link': null
            }
        ]
    } %}
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="section-title">
            <h2>Top users</h2>
            <p>{% if country %}{{ country.name }}{% else %}Worldwide{% endif %}</p>
            {% if country %}<a href="{{ path('user_index') }}"><i class="fas fa-arrow-alt-circle-left"></i> Back to global ranking</a>{% endif %}
        </div>

        <form action="#" method="post" class="mb-4">
            <div class="row">
                <div class="col-md-12 form-group">
                    <select class="form-select type-selector">
                        <option value="">All users</option>
                        {% if hasUsers != null %}<option {% if userType == 'users' %}selected{% endif %} value="users">Only individuals</option>{% endif %}
                        {% if hasOrganizations != null %}<option {% if userType == 'organizations' %}selected{% endif %} value="organizations">Only organizations</option>{% endif %}
                    </select>
                </div>
            </div>
        </form>

        <form action="#" method="post" class="mb-4">
            <div class="row">
                <div class="col-md-12 form-group">
                    <select class="form-select country-selector">
                        <option value="">Worldwide</option>
                        {% for countryL in countries %}
                            <option {% if country and country.slug == countryL.slug%}selected{% endif %} value="{{ countryL.slug }}">{{ get_flag(countryL.isoCode) }} {{ countryL.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        {% if country != null %}
            <form action="#" method="post" class="mb-4">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <select class="form-select city-selector">
                            <option value="">-</option>
                            {% for cityL in cities %}
                                <option {% if city and city.slug == cityL.slug%}selected{% endif %} value="{{ cityL.slug }}">{{ cityL.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </form>
        {% endif %}

        <div class="row">
            {% for user in users %}
                {% include 'partials/user-card.html.twig' with {'user' : user[0], 'stars': user.stars} %}
            {% endfor %}

            {% include 'partials/paginate.html.twig' with {
                'paginate': paginate,
                'route': 'user_index',
                'route_parameters': {
                    'country' : (country ? country.slug : null),
                    'city' : (city ? city.slug : null),
                    'userType' : (userType ? userType : null)
                }
            }  %}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {% include 'partials/location-filter.html.twig' with {'path': path('user_index')} %}
{% endblock %}

