{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block description %}Check out {{ user.username }}'s GitHub stats and see how they rank in stargazers count.{% endblock %}

{% block metaImage %}{{ url('share_meta', {'username': user.username}) }}{% endblock %}
{% block metaSummary %}summary_large_image{% endblock %}
{% block metaOgImageWidth %}<meta property="og:image:width" content="1200" /><meta property="og:image:height" content="600" />{% endblock %}

{% block breadcrumb %}
    {% include 'partials/breadcrumbs.html.twig' with {
        'links' : [
            {
                'title': 'Users',
                'link': path('user_index')
            },
            {
                'title': user.username,
                'link': null
            }
        ]
    } %}
{% endblock %}

{% block body %}
    <div id="user-page">
        <div class="container pb-4 pt-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="col-12 d-flex justify-content-end">
                            <p class="fs-6">
                                Share:
                                <a title="Share on Twitter" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text=Check%20out%20{% if user.twitterHandle is not null %}@{{ user.twitterHandle }}{% else %}{{ user.name }}{% endif %}%27s%20GitHub%20ranking%20on%20Git%20Stars!&url=https%3A%2F%2Fgit-stars.com/{{ user.username }}%2F&hashtags=GitHub" target="_blank">
                                    <i class="fab fa-twitter-square text-primary fs-3"></i>
                                </a>
                            </p>
                        </div>
                        <img src="https://avatars.githubusercontent.com/u/{{ user.githubId }}?v=4&s=150" alt="{{ user.username }}" class="{% if user.organization == false %}rounded-circle{% endif %} user-picture-main">
                        <div class="mt-3">
                            {% if user.name != null %}
                                <h2>{{ user.name }}{% if user.organization %} <i class="fas fa-building"></i>{% endif %}</h2>
                            {% else %}
                                <h2>{{ user.username }}{% if user.organization %} <i class="fas fa-building"></i>{% endif %}</h2>
                            {% endif %}
                            <a href="https://github.com/{{ user.username }}" target="_blank" class="link-primary mb-1 font-monospace" rel="noopener noreferrer">@{{ user.username }}</a>
                            <p class="text-secondary mb-1">{{ user.location }} {% if user.country %}{{ get_flag(user.country.isoCode) }}{% endif %}</p>
                            {% if user.status == 'idle' %}
                                <a href="{{ path('user_update', {'username': user.username}) }}" class="btn-git mt-2">Refresh user</a>
                            {% else %}
                                <p class="font-monospace mt-2">User is updating. Please wait.</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-git" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                </div>
                            {% endif %}
                            <p class="text-muted font-size-sm mt-3">Last updated : {{ user.updated|date('h:iA')}} UTC, {{ user.updated|date('M jS Y')}}</p>
                            {% if worldRank.stars is defined %}
                                <p class="h3 fw-bold">{{ worldRank.stars|number_format(0, '.', '&nbsp;')|raw }} <i class="fas fa-star text-warning"></i></p>
                                <p class="h3 fw-bold">#{{ worldRank.rank|number_format(0, '.', '&nbsp;')|raw }} 🌍</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4">
                {% if userLanguages | length > 0 %}
                    {% for userLanguage in userLanguages %}
                        {% include 'partials/user-language-card.html.twig' with {
                            'city': user.city,
                            'country': user.country,
                            'language' : userLanguage,
                            'stars': userLanguage.stars,
                            'user': user
                        } %}
                    {% endfor %}
                {% elseif user.status == 'idle' %}
                    <div class="alert alert-info text-center">
                        {% if user.organization %}Organization{% else %}User{% endif %} has no star yet.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if user.status == 'running' %}
    <script type="text/javascript">
        function getStatus() {
            fetch('{{ path('user_status', {'username': user.username}) }}')
            .then(function (response) {
                return response.json()
                .then(function (json) {
                    if (json.status === 'idle') {
                        window.location.reload()
                    }
                })
            })
        }
        setInterval(getStatus, 5000)
    </script>
    {% endif %}
{% endblock %}
