{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <a href="{{ path('user_index') }}"><i class="fas fa-arrow-alt-circle-left"></i> Go to users</a>

        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://avatars.githubusercontent.com/u/{{ user.githubId }}?v=4" alt="{{ user.username }}" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <h4>{{ user.name }}{% if user.organization %} <i class="fas fa-building"></i>{% endif %}</h4>
                        <a href="https://github.com/{{ user.username }}" target="_blank" class="link-primary mb-1 font-monospace">@{{ user.username }}</a>
                        <p class="text-secondary mb-1">{{ user.location }}</p>
                        <p class="text-muted font-size-sm">Last updated : {{ user.updated|date('h:iA, M jS Y') }}</p>
                        {% if user.status == 'idle' %}
                            <a href="{{ path('user_update', {'username': user.username}) }}" class="btn-git">Refresh user</a>
                        {% else %}
                            <p class="font-monospace">User is updating. <br>Please wait.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for userLanguage in userLanguages %}
                {% include 'partials/userLanguage-card.html.twig' with {'language' : userLanguage, 'stars': userLanguage.stars} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if user.status == 'running' %}
    <script>
        function getStatus() {
            fetch('{{ path('user_status', {'username': user.username}) }}')
            .then(function (response) {
                return response.json()
                .then(function (json) {
                    if (json.status === 'idle') {
                        window.location.reload()
                    }
                });
            });
        }
        setInterval(getStatus, 5000)
    </script>
    {% endif %}
{% endblock %}
